<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="IOPContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;AttachDbFileName=|DataDirectory|\iop.mdf " providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
